@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

body {
  overflow-x: hidden;
}

.navbar {
  height: 80px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.animated {
  height: 280px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 1rem;
    width: 15rem;
  }
  .navbar-logo {
    font-size: 1.5rem;
  }
  #section-2,
  #section-3 {
    padding: 3rem 0.5rem !important;
  }
}
