@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

.navbar{
    height: 80px;
    overflow:hidden;
    transition: height .5s ease-in-out;
}

.animated{
    height: 280px;
    overflow:hidden;
    transition: height .5s ease-in-out;
}


@media screen and (max-width: 425px){
    .logo{
        font-size: 1.2rem;
        width: 14rem;
    }
}
